.slider{
  height:40px;
  overflow:hidden;
  position:relative;
  font-size:24px;
  font-weight:normal;
}

.slides{
  display:flex;
  flex-direction:column;
  animation:slide 8s ease-in-out infinite;
}

.slides div{
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  text-align:center;
}



@keyframes slide{
  0%{transform:translateY(0)}
  20%{transform:translateY(0)}
  25%{transform:translateY(-40px)}
  45%{transform:translateY(-40px)}
  50%{transform:translateY(-80px)}
  70%{transform:translateY(-80px)}
  75%{transform:translateY(-120px)}
  95%{transform:translateY(-120px)}
  100%{transform:translateY(0)}
}
